{
    "singleQuote": true,
    "semi": false,
    "tabWidth": 4,
    "overrides": [{
            "files": "pages/**/*.tsx",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "src/**/*.scss",
            "options": {
                "singleQuote": false,
                "semi": true
            }
        }
    ]
}