/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixFooter {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.link {
    color: var(--ifm-color-primary);
}

.bg {
    text-align: center;
    overflow: hidden;
    background: url('https://txy-tc-ly-1256104767.cos.ap-guangzhou.myqcloud.com/bg.svg') center center / cover no-repeat;
    height: calc(100vh - 146px);
    width: 100%;

    h1 p {
        transition: all 0.25s ease-in-out 0.04s;
        transform: translateY(0px);
        opacity: 1;
    }

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 26px;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}